.header-block{
    background: #eaeaea;
    padding: 90px 0;

    &__title{
        margin-bottom: 60px;
    }
    &__content{
        margin-bottom: 60px;

        .list + .btn-group{
            margin-top: 30px;
        } 
    }
    &__info{
        margin-bottom: 0;
    }
    &__img{
        max-width: 100%;
        width: 600px;
        position: absolute;
        bottom: -90px;
        left: -20px;
    }
}