.header-block{
    background: #eaeaea;
    padding: 90px 0;

    &__title{
        margin-bottom: 60px;
    }
    &__content{
        margin-bottom: 60px;

        .list + .btn-group{
            margin-top: 30px;
        } 
    }
    &__info{
        margin-bottom: 0;
    }
    &__img{
        max-width: 100%;
        width: 600px;
        position: absolute;
        bottom: -90px;
        left: -20px;
    }

    /* For error page */
    &_error{
        background: $dark-red url('/img/404.jpg') no-repeat center / cover;
        color: $white;

        .header-block__title{
            font-size: 4rem;
            font-weight: 700;
        }
        .header-block__info{
            width: 550px;
            max-width: 100%;
        }
    }
    /* For catalog */
    &_catalog{
        padding: 70px 0;
    }
}