.sidebar{
    &__title{
        @extend .text-bold;
        @extend .text-uppercase;
        position: relative;
        padding-left: 36px;
        margin-bottom: 1.5rem;
        .icon{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            width: 20px;
            height: 20px;
        }
    }
    &__block{
        &_border{
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 1px;
                height: 100%;

                position: absolute;
                top: 0;
                left: 8px;

                background: rgb(255, 11, 0);
                ;
            }
        }
    }
    &__link{
        position: relative;
        display: block;
        padding-left: 36px;

        & + .sidebar__link{
            margin-top: 10px;
        }

        .icon{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateX(0) translateY(-50%);

            width: 0;
            height: 0;

            transition: 0s;
        }

        &:hover{
            .icon{
                width: 36px;
                height: 36px;
                transform: translateX(-8px) translateY(-50%);

                transition: 0.5s;
            }
        }

        &--active{
            font-weight: 700;
        }
    }
}