footer.footer
    .container
        .footer__row
            a.footer__logo(href="/")
            nav.navbar
                a.navbar__item(href="#") О компании
                a.navbar__item(href="#") Каталог
                a.navbar__item(href="#") Проекты
                a.navbar__item(href="#") Партнерам
                a.navbar__item(href="#") Контакты
            ul.contact
                li.contact__item Санкт-Петербург
                li.contact__item
                    a.contact__link(href="tel:#") 8 800 800 00 00
        .row
            .col-6.col-sm-12.mt-20
                p.text-small.mb-0 © 2019. Все права защищены.
            .col-6.col-sm-12.text-right.text-sm-left.mt-20
                p.text-small.mb-0
                    a.footer__link(href="https://websoho.ru" target="_blank") Разработано студией SOHO