header.header
    .header__top
        .container
            .header__row
                a.header__logo(href="/")
                nav.navbar.navbar_top
                    a.navbar__item(href="#") рекомендации
                    a.navbar__item(href="#") техподдержка
                    a.navbar__item(href="#") контакты
                    a.navbar__item(href="#") обратная связь
                ul.contact
                    li.contact__item Санкт-Петербург
                    li.contact__item
                        a.contact__link(href="tel:#") 8 800 800 00 00
    .header__bottom
        .container
            .header__row
                nav.navbar
                    a.navbar__item(href="#") О компании
                    a.navbar__item(href="#") Каталог продукции
                    a.navbar__item(href="#") Реализованные проекты
                    a.navbar__item(href="#") Партнерам
                .search-icon#headerSearch