.footer{
    font-size: 13px;
    background: $dark-grey;
    color: $white;

    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;

    .footer__row{
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: center;
    }
    .footer__logo{
        width: 210px;
        height: 50px;
        background: url("/img/logo_inverse.png") no-repeat left center / contain;
    }
    .contact{
        color: $grey;
        .contact__link{
            color: $white;
            font-weight: 700;
            &:hover{
                color: $link-hover-color;
                text-decoration: $link-decoration;
            }
        }
    }
    .navbar{
        margin-left: 0;
        margin-right: 0;
        .navbar__item{
            color: $grey;
            padding: 0 $grid-gutter-width/4;
            &:hover{
                color: $white;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .footer{
        .contact{
            margin-top: 10px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .footer{
        .navbar{
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;
            .navbar__item{
                padding: 10px;
            }
        }
        .contact{
            margin-top: 30px;
            .contact__item{
                white-space: nowrap;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        .contact{
            flex-wrap: wrap;
        }
    }
}