.form{
    margin: 0;
    padding: 0;
    &__input{
        width: 100%;
        padding: 20px;
        border: none;
        outline: none;

        & + .form__input{
            margin-top: 15px;
        }
        & + .btn{
            margin-top: 30px;
        }
    }

    &__agree{
        margin-top: 1rem;
        font-size: 12px;
        color: $grey;
    }
}

.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background-color: $grey;

            width: 10px;
            height: 10px;

            position: absolute;
            left: 4px;
            top: 4px;
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 28px;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $grey;
            background-color: $light-grey;

            width: 18px;
            height: 18px;

            position: absolute;
            left: 0;
        }
    }
    &__link{
        text-decoration: underline;
    }
}