.header{
    font-size: 13px;

    .header__row{
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: center;
    }
    .header__logo{
        width: 210px;
        max-width: 100%;
        height: 50px;
        background: url("/img/logo.png") no-repeat left center / contain;
    }
    .header__nav{
        display: none;
    }
    &__top{
        position: relative;
        z-index: 2;
        
        background:$light-grey;
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
        .contact{
            color: $grey;
            .contact__link{
                color: $black;
                font-weight: 700;
                &:hover{
                    color: $link-hover-color;
                    text-decoration: $link-decoration;
                }
            }
        }
        .navbar{
            margin-left: 0;
            margin-right: 0;
            .navbar__item{
                color: $grey;
                padding: 0 $grid-gutter-width/4;
                &:hover{
                    color: $black;
                }
            }
        }
    }
    &__bottom{
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;

        box-shadow: 0 2px 10px #e2e2e2;
    }
}

.contact{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
    .contact__item{
        & + .contact__item{
            margin-left: 1em;
        }
    }
}
.icon-block{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.phone-icon{
    display: none;
}
.search-icon{
    width: 24px;
    height: 24px;
    background: url("/img/search.svg") no-repeat center / contain;

    cursor: pointer;
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .header{
        .header__logo{
            width: 180px;
        }
        &__top{
            .navbar{
                .navbar__item {
                    font-size: 12px;
                    padding: 0 5px;
                }
            }
            .contact{
                font-size: 12px;
                .contact__link{
                    font-size: 13px;
                    line-height: 1;
                }
            }
        }
        .phone-icon{
            display: none;
            width: 24px;
            height: 24px;
            background: url(/img/call-answer.svg) no-repeat center/20px;
            margin-left: 15px;
        }
        .header__bottom{
            .phone-icon{
                display: block;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header{
        .header__bottom{
            .navbar{
                .navbar__item{
                    padding: 0 15px;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        .header__nav{
            display: block;
            width: 40px;
            height: 40px;
            padding: 10px;
        }
        .header__logo{
            width: 210px;
        }
        .phone-icon{
            display: block;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        .header__top{
            .container{
                padding: 0 20px;
            }
        }
        .header__logo {
            width: 160px;
        }
        .phone-icon{
            margin-left: 0;
        }
    }
}