.navbar{
    display: flex;
    flex-wrap: nowrap;

    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;

    .navbar__item{
        padding: 0 $grid-gutter-width/2;
        &:hover{
            text-decoration: $link-decoration;
        }
    }

    &_top{
        text-transform: uppercase;
    }
}

.mobile-nav{
    display: none;
    padding: 40px;

    .navbar{
        flex-wrap: wrap;
        flex-direction: column;

        .navbar__item{
            & + .navbar__item{
                margin-top: 10px;
            }
        }
    }
    .sep{
        width: 100%;
        height: 1px;
        background: #eaeaea;
        margin: 15px 0;
    }
    .contact{
        .contact__link{
            font-weight: 700;
        }
    }
}