.cta-block{
    background: $dark-red;
    color: $white;

    .form{
        padding: 40px 80px;
        background: #b20000;
        .form__input{
            background: #bd2626;
            color: $white;

            &::placeholder{
                color: $white;
            }
        }
        .btn{
            width: 100%;
        }
        .form__agree{
            color: $light-grey;
            .checkbox__link{
                color: $white;
            }
        }
        .ajax_form .error{
            color: $light-grey;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .cta-block{
        .form{
            padding: 40px 30px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .cta-block{
        .form{
            padding: 0 0 40px;
            background: initial;
        }
    }
}