.post-preview{
    .post-preview__content{
        position: relative;

        padding: 40px 30px;
        padding-left: 66px;

        border: 1px solid #c5c5c5;
    }
    .post-preview__img{
        & + .post-preview__title{
            margin-top: 20px;
        }
    }
    .post-preview__title{
        position: relative;

        .icon{
            width: 26px;
            height: 26px;

            position: absolute;
            top: 50%;
            left: -36px;
            transform: translateY(-50%);
        }

        & + .post-preview__introtext{
            margin-top: 10px;
        }
    }
    .post-preview__link{
        border: 1px solid #c5c5c5;
        border-left: none;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: .4s;

        &:hover{
            text-decoration: none;
            background: $light-grey;
        }
    }

    & + .post-preview{
        margin-top: 40px;
    }
}

.post-col{
    margin-top: 40px;
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .post-preview{
        .post-preview__content{
            padding: 20px;
            padding-left: 50px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .post-preview{
        .post-preview__link{
            border-left: 1px solid #c5c5c5;
            border-top: none;
            padding: 10px;
        }
    }
}