.slider-block{
    position: relative;
    background: $dark-red;
    color: $white;

    padding-left: 60px;

    &__title{
        transform: rotate(-90deg);
        transform-origin: left;

        width: 380px;
        height: 60px;
        padding: 18px 20px;

        position: absolute;
        bottom: -31px;
        left: 30px;
        z-index: 11;

        background: $red;

        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
    }
    &__content{
        padding: 40px;

        .slider-item{
            padding: 0 20px;
            height: 300px;
            .img-fluid{
                height: 100%;
            }
        }
        .slick-prev, .slick-next{
            width: 50px;
            height: 50px;
            z-index: 15;
        }
        .slick-prev{
            background: url("/img/arrow-left.svg") no-repeat center / contain;
            left: -130px;
            &:before{
                content: '';
            }
        }
        .slick-next{
            background: url("/img/arrow-right-inverse.svg") no-repeat center / contain;
            &:before{
                content: '';
            }
        }
    }

    &_line-left{
        position: relative;
        &:after{
            content:'';
            display: block;

            position: absolute;
            top: -40px;
            left: -40px;
            width: 1px;
            height: calc(50% + 40px);

            background: $red;
        }
    }
}

.slider-brand{
    padding: 0 70px;
    .slider-item{
        padding: 0 10px;
        .img-fluid{
            height: 80px;
        }
    }
    .slick-prev, .slick-next{
        width: 50px;
        height: 50px;
        z-index: 15;
    }
    .slick-prev{
        left: 0px;
        &:before{
            content: '';
        }
    }
    .slick-next{
        right: 0px;
        &:before{
            content: '';
        }
    }
}
.slider-for{
    margin-bottom: 30px;
}
.slider-nav{
    .slider-item{
        padding: 0 15px;
    }
    .slick-slide{
        opacity: .5;
        &.slick-center{
            opacity: 1;
        }
    }
    .slick-prev {
        left: -15px;
        width: 30px;
        height: 30px;
        z-index: 11;
    }
    .slick-next {
        right: -15px;
        width: 30px;
        height: 30px;
        z-index: 11;
    }
}
/* Slick Slider */
.slick-slide{
    height: auto;
    outline: none;
    &:focus{
        outline: none;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider-block{
        padding-left: 0;
        &__title{
            position: initial;
            transform: none;
            width: 100%;
            height: auto;
        }
        .slider-item{
            height: auto;
            .img-fluid {
                width: 100%;
                height: auto;
            }
        }
        .slick-prev{
            left: -20px;
        }

        &_line-left{
            &:after{
                display: none;
            }
        }
    }
}