html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        main
            section.header-block
                .container
                    h1.header-block__title Комплексные поставки для внутренних инженерных сетей
                    .row.justify-content-end
                        .col-6.col-md-12
                            img.header-block__img(src="/img/1-5.png")
                        .col-6.col-md-12
                            .header-block__content
                                ul.list
                                    li.list-item полимерные трубопроводные системы
                                    li.list-item отопительные приборы
                                    li.list-item запорно-регулирующая арматура
                                    li.list-item комплектующие
                                .btn-group
                                    a.btn.btn_red(href="#") Задать вопрос менеджеру
                                    a.btn.btn_border-red(href="#") Скачать прайс-лист
                            p.text-small.text-grey.header-block__info * менеджер компании поможет вам составить индивидуальную смету
            section.content.pb-10
                .container
                    h2.content__title
                        span.content__title__line-right Почему с нами сотрудничают крупнейшие компании?
                    .row
                        .col-4.col-sm-12.col-md-6
                            .advantage.advantage_line-bottom
                                p.advantage__title.advantage__title_line-left Полная комплектация 
                                    svg.icon(width="26px" height="26px")
                                        path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                                p.advantage__content Большая номенклатурная товарная группа позволяет получить все материалы в одном месте
                        .col-4.col-sm-12.col-md-6
                            .advantage
                                p.advantage__title.advantage__title_double.advantage__title_line-top.advantage__title_line-top-vertical Цены от производителя
                                    svg.icon(width="46px" height="46px")
                                        path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M22.000,2.000 C33.046,2.000 42.000,10.954 42.000,22.000 C42.000,33.046 33.046,42.000 22.000,42.000 C10.954,42.000 2.000,33.046 2.000,22.000 C2.000,10.954 10.954,2.000 22.000,2.000 Z")
                                        path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M22.000,12.000 C27.523,12.000 32.000,16.477 32.000,22.000 C32.000,27.523 27.523,32.000 22.000,32.000 C16.477,32.000 12.000,27.523 12.000,22.000 C12.000,16.477 16.477,12.000 22.000,12.000 Z")
                                p.advantage__content Прямое сотрудничество производителями позволяет предлагать выгодные ценовые условия 
                        .col-4.col-sm-12.col-md-6
                            .advantage
                                p.advantage__title.advantage__title_line-top.advantage__title_line-top-vertical Собственная доставка
                                    svg.icon(width="26px" height="26px")
                                        path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                                p.advantage__content Возможность доставки товара собственным транспортом, сокращает время на логистику
                        .col-4.col-sm-12.col-md-6
                            .advantage.advantage_line-bottom
                                p.advantage__title.advantage__title_line-left Инженеры в штате
                                    svg.icon(width="26px" height="26px")
                                        path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                                p.advantage__content Наши технические специалисты помогут в проектировании или подборе оборудования
                        .col-4.col-sm-12.col-md-6
                            .advantage
                                p.advantage__title Даем гарантии
                                    svg.icon(width="26px" height="26px")
                                        path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                                p.advantage__content Предоставляем гарантии поставщика, избавляя покупателя от ответственности за качество продукции
                        .col-4.col-sm-12.col-md-6
                            .advantage
                                p.advantage__title Поставки от 1 дня
                                    svg.icon(width="26px" height="26px")
                                        path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                                p.advantage__content После оплаты по счету большую часть товара возможно отгрузить на следующий день
            section
                .container
                    .slider-block.slider-block_line-left
                        .slider-block__title рекомендации и партнерство
                        .slider-block__content
                            .slider-item
                                img.img-fluid(src="/img/test-01.png")
                            .slider-item
                                img.img-fluid(src="/img/test-02.png")
                            .slider-item
                                img.img-fluid(src="/img/test-03.png")
                            .slider-item
                                img.img-fluid(src="/img/test-01.png")
                            .slider-item
                                img.img-fluid(src="/img/test-04.png")
                            .slider-item
                                img.img-fluid(src="/img/test-02.png")
            section.content.pb-0
                .container
                    p.h2.content__title.text-bold 
                        span.content__title__catalog Каталог продукции
                            svg.icon(viewbox="0 0 26 26" preserveAspectRatio="XMidYMid meet")
                                path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                    .row.no-gutters.catalog
                        a.col-3.col-sm-12.col-md-6.catalog__col.catalog__col_first.catalog__col_link(href="/catalog.html")
                            .catalog__title Трубы и&nbsp;фитинги
                            img.catalog__image.img-fluid(src="/img/product-1.png")
                        a.col-3.col-sm-12.col-md-6.catalog__col.catalog__col_link(href="/catalog.html")
                            .catalog__title Отопительные приборы
                            img.catalog__image.img-fluid(src="/img/product-2.png")
                        a.col-3.col-sm-12.col-md-6.catalog__col.catalog__col_link(href="/catalog.html")
                            .catalog__title Крепежи
                            img.catalog__image.img-fluid(src="/img/product-5.png")
                        a.col-3.col-sm-12.col-md-6.catalog__col.catalog__col_link(href="/catalog.html")
                            .catalog__title Санитарная техника и&nbsp;изделия
                            img.catalog__image.img-fluid(src="/img/product-4.png")
                        a.col-4.col-sm-12.col-md-6.catalog__col.catalog__col_link(href="/catalog.html")
                            .catalog__title Запорно-регулирующая арматура 
                            img.catalog__image.img-fluid(src="/img/product-3.png")
                        a.col-4.col-sm-12.col-md-6.catalog__col.catalog__col_link(href="/catalog.html")
                            .catalog__title Насосы и&nbsp;насосные станции
                            img.catalog__image.img-fluid(src="/img/product-6.png")
                        a.col-4.col-sm-12.col-md-12.catalog__col.catalog__col_link(href="/catalog.html")
                            .catalog__title Изоляционные материалы
                            img.catalog__image.img-fluid(src="/img/product-7.png")
                    .row.mt-40.align-items-center
                        .col-6.col-md-12
                            p.text-bold.text-small.text-grey.mb-0 Пожалуй, лучший оптовый ассортимент инженерных товаров. 
                                | Официальные партнеры представленных производителей.
                        .col-6.col-md-12.mt-md-20.text-right.text-md-left
                                a.btn.btn_border-red(href="#") Нужен прайс со скидками
            section.content
                .container
                    .slider-brand
                        .slider-item
                            img.img-fluid(src="/img/brand-01.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-02.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-03.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-04.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-05.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-03.png")
            section.content.content_bg-grey
                .container
                    .row.align-items-center.justify-content-between
                        .col-5.col-sm-12.col-md-5
                            .content__maps-container
                                svg.content__maps(viewBox="0 0 478 628" preserveAspectRatio="xMidYMid")
                                    path(fill-rule="evenodd" fill="rgb(210, 204, 204)" d="M13.855,595.104 L13.855,592.114 L1.979,595.104 L-0.000,589.124 L13.855,587.130 L38.596,571.181 L36.617,563.206 L41.565,563.206 L46.513,558.222 L49.482,558.222 L51.462,551.244 L52.451,531.308 L58.389,532.304 L58.389,521.339 L75.213,518.349 L78.182,510.374 L57.400,493.428 L45.524,500.406 L40.576,497.416 L30.679,499.409 L25.731,456.546 L39.586,463.524 L45.524,460.533 L44.534,430.628 L54.431,429.632 L49.482,424.647 L49.482,417.670 L53.441,416.673 L61.358,411.689 L67.296,403.714 L81.151,413.682 L95.996,406.704 L102.923,396.736 L121.727,400.724 L108.861,391.752 L113.809,381.784 L117.768,373.809 L63.337,349.885 L57.400,349.885 L42.555,342.908 L45.524,336.927 L138.551,364.838 L141.520,356.863 L154.385,342.908 L148.447,332.939 L153.395,294.063 L145.478,294.063 L136.571,289.079 L123.706,265.155 L135.582,267.149 L138.551,255.187 L128.654,251.200 L133.602,235.250 L156.364,228.273 L172.199,234.254 L177.147,231.263 L178.137,225.282 L155.375,217.308 L158.344,206.343 L165.271,206.343 L169.230,200.362 L161.313,197.371 L148.447,203.352 L133.602,197.371 L129.644,184.412 L122.716,183.416 L127.665,191.390 L116.778,191.390 L112.820,194.381 L107.872,194.381 L107.872,187.403 L80.161,186.406 L71.255,182.419 L63.337,185.409 L51.462,180.425 L46.513,175.441 L21.772,169.460 L26.720,160.489 L33.648,158.495 L34.638,114.635 L73.234,104.666 L95.996,103.670 L87.089,90.711 L92.037,83.733 L82.141,79.746 L137.561,49.841 L139.540,55.822 L145.478,51.835 L156.364,53.828 L164.282,71.771 L211.785,40.870 L217.722,46.851 L232.567,43.860 L240.484,32.895 L252.360,24.920 L256.319,10.965 L261.267,13.955 L284.029,5.981 L289.967,9.968 L295.905,-0.000 L312.729,55.822 L342.418,74.762 L339.449,81.740 L358.253,89.714 L361.221,97.689 L366.170,93.701 L378.045,98.685 L385.963,104.666 L382.004,113.638 L387.942,123.606 L393.880,118.622 L400.807,127.593 L405.756,120.616 L407.735,149.523 L418.621,151.517 L415.652,165.473 L422.580,189.397 L429.507,191.390 L447.321,177.435 L451.279,186.406 L441.383,199.365 L447.321,197.371 L464.145,201.358 L468.103,212.324 L478.000,217.308 L464.145,222.292 L456.228,207.340 L428.518,219.301 L412.683,359.854 L435.445,408.698 L433.466,415.676 L420.600,420.660 L408.725,421.657 L411.693,441.594 L476.021,484.457 L470.083,492.432 L466.124,487.447 L463.155,490.438 L465.135,496.419 L462.166,503.397 L435.445,483.460 L421.590,505.390 L393.880,465.517 L361.221,474.489 L356.273,482.463 L309.760,496.419 L308.770,490.438 L257.308,518.349 L257.308,566.197 L269.184,578.159 L264.236,594.108 L257.308,596.101 L243.453,628.000 L194.961,594.108 L209.805,566.197 L206.836,565.200 L222.671,542.273 L218.712,534.298 L208.816,537.289 L206.836,545.263 L153.395,530.311 L133.602,542.273 L122.716,543.269 L125.685,537.289 L106.882,526.324 L103.913,527.320 L96.985,523.333 L79.172,558.222 L84.120,559.219 L89.068,551.244 L102.923,533.301 L109.851,533.301 L105.892,547.257 L101.934,550.247 L93.027,573.174 L101.934,577.162 L90.058,596.101 L61.358,592.114 L30.679,619.028 L26.720,618.031 L19.793,613.047 L27.710,604.076 L17.814,604.076 L18.803,598.095 L13.855,595.104 Z")
                        .col-6.col-sm-12.col-md-7.mt-sm-40
                            p.h4.mb-40
                                span.text-bold Наши клиенты 
                                | по всему 
                                span(style="white-space:nowrap;") Санкт-Петербургу
                            ul.list
                                li.list-item Гипермаркеты, торговые центры
                                li.list-item Заводские комплексы
                                li.list-item Жилые комплексы
                                li.list-item Детские сады, школы
                            p.mb-70.mb-md-40
                                a.text-bold.text-small(href="#") Все проекты >
                            p.text-uppercase.text-bold Подтверждающие документы
                            ul.list
                                li.list-item Реквизиты компании
                                li.list-item Документ “Парвролл”
                                li.list-item Техническая документация
                                li.list-item ИНН
            aside.cta-block
                .container
                    .row.justify-content-between.align-items-center
                        .col-6.col-md-12.col-lg-6
                            p.mt-40.h2.text-bold Есть список товаров или нужна помощь профессионалов?
                            p.mb-40 Укажите контактный телефон и менеджер компании поможет вам составить индивидуальную смету и подобрать все необходимые материалы и технику.
                        .col-5.col-md-12.col-lg-6
                            form.form(action="#")
                                input.form__input(placeholder="Ваше имя" type="text")
                                input.form__input.phone(placeholder="Телефон" type="tel")
                                a.btn.btn_white(href="#") Отправить
                                .form__agree.checkbox
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данны
            section.content
                .container
                    .row
                        .col-6.col-sm-12
                            p.h2.text-bold Головной офис
                            p.text-uppercase.text-small.text-grey Время работы: пн-пт с 10.00 до 19.00
                            .row.mt-40
                                .col-4 
                                    p Телефон
                                .col-8
                                    p 
                                        a.link-inverse.text-bold(href="tel:+7 (812) 313-76-09") +7 (812) 313-76-09
                                .col-4 
                                    p Адрес
                                .col-8
                                    p г. Санкт-Петербург, ул.&nbsp;Бухарестская, д.1, офис&nbsp;510
                                .col-4 
                                    p E-mail
                                .col-8
                                    p 
                                        a.link-inverse.text-bold(href="mailto:#") info@sopolymer.ru
                                .col-4 
                                    p ИНН
                                .col-8
                                    p 1234567890
                                .col-4 
                                    p КПП
                                .col-8
                                    p 1234567890
                        .col-6.col-sm-12.mt-sm-20
                            .map
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2001.3915621172139!2d30.35491331609513!3d59.89244998185939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696303cdc2c7b2f%3A0x4bf317c642a4de2b!2z0JHRg9GF0LDRgNC10YHRgtGB0LrQsNGPINGD0LsuLCAxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTIxMDI!5e0!3m2!1sru!2sua!4v1565964868350!5m2!1sru!2sua" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js")