html(lang="ru")
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        main
            .content
                .container
                    .row
                        section.col-8.col-md-12.col-lg-7
                            h1.text-bold.text-uppercase Новости
                            nav.breadcrumbs.mb-40
                                .breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                .breadcrumbs__item.breadcrumbs__item_sep /
                                .breadcrumbs__item Новости
                            article.post-preview
                                img.post-preview__img.img-fluid(src="/img/post-1.jpg")
                                .row.no-gutters
                                    .col-8.col-sm-12.col-md-8.col-lg-12.post-preview__content
                                        a.post-preview__title.h5.text-bold(href="#") Заголовок закрепленной новости
                                            svg.icon(viewBox="0 0 26 26" preserveAspectRatio="xMidYMid")
                                                path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                                        .post-preview-info
                                            p.mb-0 Большая номенклатурная товарная группа позволяет получить все материалы в одном месте
                                    a.col-4.col-sm-12.col-md-4.col-lg-12.post-preview__link(href="text.html") Читать дальше
                            .row.post-row
                                .col-6.col-sm-12.post-col
                                    article.post-preview
                                        p.post-preview__data.text-grey 14 июля 2019
                                        a.post-preview__title.text-bold Заголовок новости без заглавной картинки
                                        p.post-preview__introtext.small Большая номенклатурная товарная группа позволяет получить все материалы в одном месте.
                                .col-6.col-sm-12.post-col
                                    article.post-preview
                                        p.post-preview__data.text-grey 14 июля 2019
                                        img.post-preview__img.img-fluid(src="/img/post-3.png")
                                        a.post-preview__title.text-bold Заголовок обычной новости
                                        p.post-preview__introtext.small Большая номенклатурная товарная группа позволяет получить все материалы в одном месте. Большая номенклатурная товарная группа позволяет получить все материалы....
                                .col-6.col-sm-12.post-col
                                    article.post-preview
                                        p.post-preview__data.text-grey 14 июля 2019
                                        img.post-preview__img.img-fluid(src="/img/post-4.png")
                                        a.post-preview__title.text-bold Заголовок обычной новости
                                        p.post-preview__introtext.small Большая номенклатурная товарная группа позволяет получить все материалы в одном месте.
                        aside.col-4.col-md-12.col-lg-5.mt-md-40.sidebar
                            .sidebar__block
                                p.sidebar__title отчеты о проектах
                                    svg.icon(viewBox="0 0 26 26" preserveAspectRatio="xMidYMid")
                                        path(fill-rule="evenodd"  stroke="rgb(23, 23, 23)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")                            
                                article
                                    a.row.news-preview(href="#")
                                        .col-4.pr-lg-0
                                            img.img-fluid(src="/img/news-1.png")
                                        .col-8
                                            p.text-bold.news-preview__title ЖК "Охтинская дуга" СК "Запстрой"
                                            p.text-grey Заказчик: 1234 <br/>
                                                | Город: Москва <br/>
                                                | Поставка: инженерные сети <br/>
                                                | Дата окончания: 14 июля
                                article.mt-md-20
                                    a.row.news-preview(href="#")
                                        .col-4.pr-lg-0
                                            img.img-fluid(src="/img/news-2.png")
                                        .col-8
                                            p.text-bold.news-preview__title Завод ИКЕА
                                            p.text-grey Заказчик: 1234 <br/>
                                                | Город: Москва <br/>
                                                | Поставка: инженерные сети <br/>
                                                | Дата окончания: 14 июля
                                article.mt-md-20
                                    a.row.news-preview(href="#")
                                        .col-4.pr-lg-0
                                            img.img-fluid(src="/img/news-3.png")
                                        .col-8
                                            p.text-bold.news-preview__title Дилерские центры Honda и Toyota г. Брянск
                                            p.text-grey Заказчик: 1234 <br/>
                                                | Город: Москва <br/>
                                                | Поставка: инженерные сети <br/>
                                                | Дата окончания: 14 июля
                    ul.pagination.mt-40
                        li.pagination__item
                            a.pagination__link(href="#") 1
                        li.pagination__item
                            a.pagination__link.pagination__link--active(href="#") 2
                        li.pagination__item
                            a.pagination__link(href="#") 3
            aside.content.content_bg-grey
                .container
                    .slider-brand
                        .slider-item
                            img.img-fluid(src="/img/brand-01.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-02.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-03.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-04.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-05.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-03.png")
            aside.cta-block
                .container
                    .row.justify-content-between.align-items-center
                        .col-6.col-md-12.col-lg-6
                            p.mt-40.h2.text-bold Есть список товаров или нужна помощь профессионалов?
                            p.mb-40 Укажите контактный телефон и менеджер компании поможет вам составить индивидуальную смету и подобрать все необходимые материалы и технику.
                        .col-5.col-md-12.col-lg-6
                            form.form(action="#")
                                input.form__input(placeholder="Ваше имя" type="text")
                                input.form__input.phone(placeholder="Телефон" type="tel")
                                a.btn.btn_white(href="#") Отправить
                                .form__agree.checkbox
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данны
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/masonry.pkgd.min.js")
        script(src="./js/app.min.js")