html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        main
            .content
                .container
                    .row
                        article.col-8.post
                            h1.text-uppercase Простая текстовая страница
                            .breadcrumbs
                                .breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                .breadcrumbs__item.breadcrumbs__item_sep /
                                .breadcrumbs__item Простая текстовая страница
                            p A diam maecenas sed enim. Commodo quis imperdiet massa tincidunt nunc. Ipsum a arcu cursus vitae congue. Facilisi etiam dignissim diam quis enim. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam.
                            h2.text-bold Заголовок h2
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac feugiat sed lectus vestibulum. Euismod quis viverra nibh cras pulvinar mattis nunc sed. Sed elementum tempus egestas sed sed risus pretium quam. Fames ac turpis egestas sed tempus urna et pharetra pharetra. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. 
                            h3.text-bold Заголовок h3
                            p A diam maecenas sed enim. Commodo quis imperdiet massa tincidunt nunc. Ipsum a arcu cursus vitae congue. Facilisi etiam dignissim diam quis enim. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. 
                            blockquote Enim diam vulputate ut pharetra sit amet aliquam. Lectus magna fringilla urna porttitor	rhoncus dolor purus non enim. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae.	Fusce id velit ut tortor pretium. Urna neque viverra justo nec ultrices dui sapien eget. 
                            h4.text-bold Заголовок h4
                            p Auctor augue mauris augue neque gravida. Aliquam vestibulum morbi blandit cursus risus. Leo in vitae turpis massa sed elementum tempus egestas. Magna etiam tempor orci eu lobortis elementum nibh.
                            h5.text-bold Заголовок h5
                            p Auctor augue mauris augue neque gravida. Aliquam vestibulum morbi blandit cursus risus. Leo in vitae turpis massa sed elementum tempus egestas. Magna etiam tempor orci eu lobortis elementum nibh.
                            h6.text-bold Заголовок h6
                            p Auctor augue mauris augue neque gravida. Aliquam vestibulum morbi blandit cursus risus. Leo in vitae turpis massa sed elementum tempus egestas. Magna etiam tempor orci eu lobortis elementum nibh.
                            ul
                                li Auctor augue mauris augue neque gravida
                                li Auctor augue mauris augue neque gravida
                                li Auctor augue mauris augue neque gravida
                                li Auctor augue mauris augue neque gravida
                        aside.col-4.sidebar
                            p.sidebar__title Каталог продукции
                                svg.icon(width="26px" height="26px")
                                    path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")
                            nav.sidebar__nav.mb-40
                                a.sidebar__link(href="#") Трубы и фитинги
                                a.sidebar__link(href="#") Отопительные приборы
                                a.sidebar__link(href="#") Крепежи
                                a.sidebar__link(href="#") Санитарная техника и&nbsp;изделия
                                a.sidebar__link(href="#") Запорно-регулирующая арматура
                                a.sidebar__link(href="#") Насосы и насосные станции
                                a.sidebar__link(href="#") Изоляционные материалы
                            p.sidebar__title Актуальные новости
                                svg.icon(width="26px" height="26px")
                                    path(fill-rule="evenodd"  stroke="rgb(255, 11, 0)" stroke-width="4px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="M12.000,2.000 C17.523,2.000 22.000,6.477 22.000,12.000 C22.000,17.523 17.523,22.000 12.000,22.000 C6.477,22.000 2.000,17.523 2.000,12.000 C2.000,6.477 6.477,2.000 12.000,2.000 Z")                            
                            a.row.news-preview(href="#")
                                .col-4
                                    img.img-fluid(src="/img/news-1.png")
                                .col-8
                                    p.text-bold.news-preview__title ЖК "Охтинская дуга" СК "Запстрой"
                                    p.text-grey Заказчик: 1234 <br/>
                                        | Город: Москва <br/>
                                        | Поставка: инженерные сети <br/>
                                        | Дата окончания: 14 июля
                            a.row.news-preview(href="#")
                                .col-4
                                    img.img-fluid(src="/img/news-2.png")
                                .col-8
                                    p.text-bold.news-preview__title Завод ИКЕА
                                    p.text-grey Заказчик: 1234 <br/>
                                        | Город: Москва <br/>
                                        | Поставка: инженерные сети <br/>
                                        | Дата окончания: 14 июля
                            a.row.news-preview(href="#")
                                .col-4
                                    img.img-fluid(src="/img/news-3.png")
                                .col-8
                                    p.text-bold.news-preview__title Дилерские центры Honda и Toyota г. Брянск
                                    p.text-grey Заказчик: 1234 <br/>
                                        | Город: Москва <br/>
                                        | Поставка: инженерные сети <br/>
                                        | Дата окончания: 14 июля
            aside.content.content_bg-grey
                .container
                    p.text-bold Производители представленные в нашем каталоге:
                    .slider-brand
                        .slider-item
                            img.img-fluid(src="/img/brand-01.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-02.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-03.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-04.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-05.png")
                        .slider-item
                            img.img-fluid(src="/img/brand-03.png")
            aside.cta-block
                .container
                    .row.justify-content-between.align-items-center
                        .col-6
                            p.mt-40.h2.text-bold Есть список товаров или нужна помощь профессионалов?
                            p.mb-40 Укажите контактный телефон и менеджер компании поможет вам составить индивидуальную смету и подобрать все необходимые материалы и технику.
                        .col-5
                            form.form(action="#")
                                input.form__input(placeholder="Ваше имя" type="text")
                                input.form__input.phone(placeholder="Телефон" type="tel")
                                a.btn.btn_white(href="#") Отправить
                                .form__agree.checkbox
                                    input.checkbox__input#agree(type="checkbox" name="agree" checked="checked" required="required")
                                    label.checkbox__label(for="agree") согласен с 
                                        a.checkbox__link(href="/policy.pdf" target="_blank") обработкой персональных данны
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/app.min.js")